{{#docs-viewer as |viewer|}}
  {{#viewer.nav as |nav|}}
    {{nav.item 'Home' 'docs.index'}}

    {{nav.item 'Architecture' 'docs.architecture'}}

    {{#nav.subnav as |subnav|}}
      {{subnav.item 'Component' 'docs.architecture/component'}}
      {{subnav.item 'CSS' 'docs.architecture/css'}}
      {{subnav.item 'Z-Index' 'docs.architecture/z-index'}}
    {{/nav.subnav}}

    {{nav.item 'Cookbook' 'docs.cookbook'}}

    {{#nav.subnav as |subnav|}}
      {{subnav.item 'Modal' 'docs.cookbook/modal'}}
      {{subnav.item 'Dialog' 'docs.cookbook/dialog'}}
      {{subnav.item 'Popover' 'docs.cookbook/popover'}}
      {{subnav.item 'Tooltip' 'docs.cookbook/tooltip'}}
      {{subnav.item 'Table' 'docs.cookbook/table'}}
    {{/nav.subnav}}

    {{nav.item 'Components' 'docs.components'}}

    {{#nav.subnav as |subnav|}}
      {{subnav.item 'UI' 'docs.components/ui'}}

      {{#nav.subnav as |subnav|}}
        {{subnav.item 'Button' 'docs.components/ui/button'}}
        {{subnav.item 'Backdrop' 'docs.components/ui/backdrop'}}
        {{subnav.item 'Position' 'docs.components/ui/position'}}
        {{subnav.item 'Anchor' 'docs.components/ui/anchor'}}
        {{subnav.item 'Draggable' 'docs.components/ui/draggable'}}
        {{subnav.item 'Resizable' 'docs.components/ui/resizable'}}
        {{subnav.item 'Sortable' 'docs.components/ui/sortable'}}
        {{subnav.item 'Table' 'docs.components/ui/table'}}
      {{/nav.subnav}}

      {{subnav.item 'FM' 'docs.components/fm'}}

      {{#nav.subnav as |subnav|}}
        {{subnav.item 'Form' 'docs.components/fm/form'}}
        {{subnav.item 'Field' 'docs.components/fm/field'}}
        {{subnav.item 'Fieldset' 'docs.components/fm/fieldset'}}
      {{/nav.subnav}}

      {{subnav.item 'IN' 'docs.components/in'}}

      {{#nav.subnav as |subnav|}}
        {{subnav.item 'Text' 'docs.components/in/text'}}
        {{subnav.item 'Toggle' 'docs.components/in/toggle'}}
        {{subnav.item 'Select' 'docs.components/in/select'}}
      {{/nav.subnav}}

      {{subnav.item 'X' 'docs.components/x'}}

      {{#nav.subnav as |subnav|}}
        {{subnav.item 'Component' 'docs.components/x/component'}}
        {{subnav.item 'Resize' 'docs.components/x/resize'}}
      {{/nav.subnav}}

    {{/nav.subnav}}

    {{!nav.item 'API Reference' 'docs.api'}}
  {{/viewer.nav}}

  {{#viewer.main}}
    <div class="docs-container docs__center">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  {{/viewer.main}}
{{/docs-viewer}}
