<h1>in-select</h1>

{{#docs-demo as |demo|}}
  {{#demo.example name="in-select--native"}}
    {{#in-select value from=(array "apple" "orange" "banana") as |list|}}
      <select>
        {{#each list as |item|}}
          <option value="{{item}}">{{item}}</option>
        {{/each}}
      </select>
    {{/in-select}}
  {{/demo.example}}

  {{demo.snippet "in-select--native.hbs"}}
{{/docs-demo}}

{{#docs-demo as |demo|}}
  {{#demo.example name="in-select--radio"}}
    {{#in-select value from=(array "apple" "orange" "banana") as |list|}}
      {{#each list as |item|}}
        <label>
          <input type="radio" name="list" value="{{item}}"> {{item}}
        </label>
      {{/each}}
    {{/in-select}}
  {{/demo.example}}

  {{demo.snippet "in-select--radio.hbs"}}
{{/docs-demo}}
